# Exercises week 3

Exercises about sections, guards and patterns. 

**Note**: Except for the exercise 1, you must specify the type for all the created functions.

**Exercise 1.** Define a `square` function using sections

In [27]:
square = (^ 2)
square 4

16

**Exercise 2.** Write a function `older name1 age1 name2 age2` that receives two names and two ages and prints who is older. Example: if we introduce `older "Pepe" 23  Luisa" 18`, it must print `Pepe is older than Luisa`. If they are the same age it must print `Pepe and Luisa are the same age`.

In [25]:
older:: [Char] -> Int -> [Char] -> Int -> [Char]
older name1 age1 name2 age2 
    | age1 == age2 = name1 ++ " and " ++ name2 ++" are the same age"
    | otherwise = older ++ " is older than " ++ younger
        where older = if age1 > age2 then name1 else name2
              younger = if age1 > age2 then name2 else name1

older "Pepe" 22 "Luisa" 18
older "Pepe" 12 "Luisa" 18
older "Pepe" 18 "Luisa" 18

"Pepe is older than Luisa"

"Luisa is older than Pepe"

"Pepe and Luisa are the same age"

**Exercise 3.**	Write a `ticketPrice age` function that prints on the screen the price of a cinema ticket according to the age of the customer. (a) Normal ticket: 9 Euros; (b) Children under 5: 60% discount; (c) People over 60: 55% discount; (d) Young people under 26: 20% discount. Create a version with guards and another with patterns.

In [54]:
-- With guards
ticketPrice :: Int -> Double
ticketPrice age
    | age <= 5 = 9 * 0.4
    | age > 60 = 9 * 0.45
    | age < 26 = 9 * 0.8
    | otherwise = 9
    
ticketPrice 3
ticketPrice 22
ticketPrice 61
ticketPrice 29

-- With patterns
ticketPrice' :: Int -> Double
ticketPrice' age | age <= 5 = 9 * 0.4
ticketPrice' age | age > 60 = 9 * 0.45
ticketPrice' age | age < 26 = 9 * 0.8
ticketPrice' _ = 9

ticketPrice' 3
ticketPrice' 22
ticketPrice' 61
ticketPrice' 29

3.6

7.2

4.05

9.0

3.6

7.2

4.05

9.0

**Exercise 4.**	Create a function `secondsToHours seconds` receiving a number of seconds and converting it to its hours equivalent (for example 3680 seconds are 1 hour, 1 minute and 20 seconds and will be printed like 01:01:20). Notice the leading zeros. You can use auxiliary functions if needed.

In [8]:
secondsToHours :: Int -> String
secondsToHours seconds = prettyPrint (hours seconds) ++ ":"
                         -- Converting to minutes the seconds not in hours
                         ++ prettyPrint (minutes (seconds - hours seconds * 3600)) ++ ":"
                         -- Calculating the 'free' seconds
                         ++ prettyPrint (seconds - minutes seconds * 60)

hours :: Int -> Int
hours seconds = div seconds 3600

minutes :: Int -> Int
minutes seconds = div seconds 60

prettyPrint:: Int -> String
prettyPrint h = if h < 10 
                then "0" ++ show h 
                else show h


secondsToHours 3680
secondsToHours 265

"01:01:20"

"00:04:25"

**Exercise 5.**	Create a function `quadrant x y` that receives the coordinates of a point in a plane, i.e. two integer values, x and y, not equal to zero. The function must return the quadrant where this point lies (1st quadrant if x>0 and y>0, 2nd if x<0 and y>0, etc.) For example for (1,1) it must return: "1st". If x or y are zero it must print "The values are not valid".

In [12]:
quadrant :: Int -> Int -> String
quadrant x y 
            | x == 0 || y == 0 = "The values are not valid"
            | x > 0 && y > 0 = "1st"
            | x < 0 && y > 0 = "2nd"
            | x < 0 && y < 0 = "3rd"
            | otherwise = "4th"
            
quadrant 0 1
quadrant 1 0
quadrant 1 1
quadrant (-1) 1
quadrant (-1) (-1)
quadrant 1 (-1)

"The values are not valid"

"The values are not valid"

"1st"

"2nd"

"3rd"

"4th"

**Exercise 6.**	A year is leap-year if it is a multiple of 4, except if it is a multiple of 100. In this last case it will be leap-year only if it is also a multiple of 400. For example the year 1900 was not a leap-year, but the year 2000 was. Create a function `leapYear year ` that calculates leap years. You can use auxiliary functions if needed. Example of outputs (notice the use of past or future tense): 

```
1901 was not a leap year
2016 was a leap year
2400 will be a leap year
2401 will be not a leap year
2022 is not a leap year
```

In [1]:
leapYear :: Int -> String
leapYear year = show year ++ tense year ++ out ++ "a leap year"
                where out = if leap year 
                            then  " "
                            else " not "
                
leap :: Int -> Bool
leap year = rem year  4 == 0 && (rem year 100 /= 0 || rem year 400 == 0)


tense :: Int -> String
tense year 
        | year < 2022 = " was"
        | year == 2022 = " is"
        | otherwise = " will be"

leapYear 1900
leapYear 2016
leapYear 2400
leapYear 2401
leapYear 2022

"1900 was not a leap year"

"2016 was a leap year"

"2400 will be a leap year"

"2401 will be not a leap year"

"2022 is not a leap year"

**Exercise 7.**	Create a `money amount` function that receives as input a positive real number, which will correspond to a quantity of money, and calculates and prints the minimum number of coins for it. If the quantity of any coin is zero it must not be printed. The availabel coins are: 2€, 1€, 0.5€, 0.20€, 0.10€, 0.05€, 0.02€ and 0.01€

Note: you can use the `putStr` and `putStrLn` functions along with escape sequences like `"\n"` to return a string with several lines.

Example, if 47.07 is introduced it should print:

```
2€: 23
1€: 1
0.05€: 1
0.02€: 1
```

In [37]:
-- The output type of putStr is IO ()
money :: Float -> IO ()
-- Working with cents to avoid precission issues
money amount = putStr (show amount ++"€ is:" ++ money' (round (amount * 100)))

money' :: Int -> String
money' amount
  | amount>=200 = "\n\t2 Euro: " ++ show(div amount 200) ++ money' (amount - div amount 200 * 200)
  | amount>=100 = "\n\t1 Euro: " ++ show(div amount 100) ++ money' (amount - div amount 100 * 100)
  | amount>=50 = "\n\t0.50 Euro: " ++ show(div amount 50) ++ money' (amount - div amount 50 * 50)
  | amount>=20 = "\n\t0.20 Euro: " ++ show(div amount 20) ++ money' (amount - div amount 20 * 20)
  | amount>=10 = "\n\t0.10 Euro: " ++ show(div amount 10) ++ money' (amount - div amount 10 * 10)
  | amount>=5 = "\n\t0.05 Euro: " ++ show(div amount 5) ++ money' (amount - div amount 5 * 5)
  | amount>=2 = "\n\t0.02 Euro: " ++ show(div amount 2) ++ money' (amount - div amount 2 * 2)
  | amount>=1 = "\n\t0.01 Euro: " ++ show(div amount 1) ++ money' (amount - div amount 1)
  | amount==0 = ""

-- Test code
money 47.07
money 21.09
money 1.78

47.07€ is:
	2 Euro: 23
	1 Euro: 1
	0.05 Euro: 1
	0.02 Euro: 1

21.09€ is:
	2 Euro: 10
	1 Euro: 1
	0.05 Euro: 1
	0.02 Euro: 2

1.78€ is:
	1 Euro: 1
	0.50 Euro: 1
	0.20 Euro: 1
	0.05 Euro: 1
	0.02 Euro: 1
	0.01 Euro: 1

**Exercise 8.**	Create a function `calculator num1 num2 operator` to simulate a calculator. It must receive two integer numbers and the operator (`+ - / * div`) and show the result. If the operator is not valid it must print `wrong operator` and finish.

In [29]:
calculator::Int->Int->String->Float
calculator num1 num2 operator 
    -- As the / generates a Float we need to work with floats, using fromIntegral to convert Int to Float
    | operator == "+" = num11 + num21
    | operator == "-" = num11 - num21
    | operator == "*" = num11 * num21
    | operator == "/" = if num21 /= 0 then num11 / num21 else error "Division by 0"
    | operator == "div" = if num21 /= 0 then fromIntegral (div num11 num21) else error "Division by 0"
    | otherwise = error "wrong operator"
    where num11 = fromIntegral num1
          num21 = fromIntegral num2

In [25]:
calculator 3 5 "div"
calculator 3 5 "+"
calculator 3 0 "/"

0.0

8.0

:

In [26]:
calculator 3 0 "d"

:

# Delivery rules

Save this notebook with `your initials-week-03.ipynb` and upload it to Aula Global before the deadline. For example, Lucía Perez Gómez will upload a file `lpg-week-03.ipynb`